@import url('https://fonts.googleapis.com/css2?family=Joti+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Text&family=Permanent+Marker&display=swap');
p, .Geek6{
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
    margin: 10px 60px;
    padding: 0;
    text-align: left;
    font-size: 50px;
    line-height: 70px;
}

h1 {
    font-family: "Joti One", serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 100px;
}

button, footer, #boom{
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 60px;
    border-radius: 12px;
}

table {
    margin:95px;
    font-size: 50px;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}